:host {
  position: relative;
  width: 100%;
  display: flex;
  select {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 0px 12px;
    height: 44px;

    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 17px;
    line-height: 22px;

    border: 1px solid #c3c3c3;
    cursor: pointer;
    &:hover {
      border: 1px solid #aaaaaa;
    }
    &::-webkit-input-placeholder {
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    option:hover {
      cursor: pointer;
      background-color: #ffe783;
    }

    option.active {
      background-color: #ffda42;
    }

    option:hover::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 10px;
      background: red;
      border-right: 2px solid black;
    }
  }

}
