<div class="back">
  <button class="back-btn" [routerLink]="'/home'">На главную</button>
</div>
<h1 class="title">Анкета</h1>
<div class="form" [formGroup]="formGroup">
  <ng-container *ngFor="let control of webFormData().controls">
    <div class="form-line">
      <label class="form-label"
        >{{ control.label }}
        <span class="form-label--required" *ngIf="control.validators.required">*</span>
      </label>
      <!-- InputCheckbox -->
      <div class="form-field" [ngSwitch]="control.type">
        <div *ngSwitchCase="IT.InputCheckbox" class="checkbox-wrapper" [formArrayName]="control.name">
          <ng-container *ngFor="let item of control.checkboxItems; let i = index">
            <app-test-checkbox [formControlName]="i" [item]="item" />
          </ng-container>
        </div>
        <!-- InputText -->
        <div *ngSwitchCase="IT.InputText">
          <div
            class="form-field-flex flex--column"
            *ngIf="control?.modifier?.canAddControl"
            [formArrayName]="control.name">
            <ng-container *ngFor="let item of control.inputTextItems; let i = index">
              <app-test-input
                [formControlName]="i"
                [value]="item"
                [placeholder]="control?.placeholder"
                [summary]="control.descripton"
                [canRemoveControl]="control?.modifier?.canAddControl && i === control.inputTextItems.length - 1 && !!i"
                [canAddControl]="control?.modifier?.canAddControl && i === control.inputTextItems.length - 1"
                (removeInput)="removeInputControl(control.name, i)"
                (addInput)="addInputControl(control.name)" />
            </ng-container>
          </div>
          <div class="form-field-flex" *ngIf="!control?.modifier?.canAddControl">
            <app-test-input
              [formControlName]="control.name"
              [value]="!!control.value ? control.value.toString() : null"
              [placeholder]="control?.placeholder"
              [summary]="control.descripton" />
          </div>
        </div>

        <!-- InputNumber -->
        <app-test-number
          *ngSwitchCase="IT.InputNumber"
          [formControlName]="control.name"
          [placeholder]="control?.placeholder"
          [value]="!!control.value ? +control.value : null" />
        <!-- InputSelect -->
        <app-test-select
          *ngSwitchCase="IT.InputSelect"
          [formControlName]="control.name"
          [options]="control.selectOptions" />
      </div>
    </div>
  </ng-container>
  <div class="submit">
    <button  class="submit-btn" (click)="submit()">Отправить</button>
    <app-control-error
      *ngIf="formGroup.invalid && formGroup.dirty && formGroup.touched"
      [message]="'Форма не валидна'" />
  </div>
</div>
