<div class="back">
  <button class="back-btn" [routerLink]="'/home'">На главную</button>
</div>
<h1 class="title">Анкета</h1>
<div class="form" [formGroup]="formGroup">
  <ng-container *ngFor="let control of webFormData().controls">
    <div class="form-line">
      <label class="form-label">{{ control.label }}</label>
      <!-- InputCheckbox -->
      <div class="form-field" [ngSwitch]="control.type">
        <div
          *ngSwitchCase="IT.InputCheckbox"
          class="checkbox-wrapper"
          formArrayName="skils"
        >
          <ng-container
            *ngFor="let item of control.checkboxItems; let i = index"
          >
            <app-test-checkbox
              [formControlName]="i"
              [item]="item"

            />
          </ng-container>
        </div>
        <!-- InputText -->
        <app-test-input
          *ngSwitchCase="IT.InputText"
          [formControlName]="control.name"
          [placeholder]="'Например, ВолгГУ'"
          [summary]="control.descripton"
        />
        <!-- InputNumber -->
        <app-test-number
          *ngSwitchCase="IT.InputNumber"
          [formControlName]="control.name"
        />
        <!-- InputSelect -->
        <app-test-select
          *ngSwitchCase="IT.InputSelect"
          [formControlName]="control.name"
          [options]="control.selectOptions"
        />
      </div>
    </div>
  </ng-container>
  <button class="submit-btn" (click)="submit()">Отправить</button>
</div>
